body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}



header {
    background-color: #97ffb8;
    color: rgb(255, 0, 0);
    padding: 10px;
    text-align: center;
    width: 100%;
}

section {
    margin-top: 20px;
    width: 50%;
    background-color: #9fffe2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-right: 10px;
}

input[type="number"] {
    padding: 5px;
    width: 100px;
}

button {
    padding: 8px 20px;
    background-color: #0a22fa;
    color: rgb(208, 255, 80);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

select {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(50% - 5px);
    margin-right: 10px;
}

p {
    margin-top: 20px;
}

#txtPares{
    width: 100px;
}

#txtImpares{
    width: 100px;
}