body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #97ffb8;
    color: rgb(255, 0, 0);
    padding: 10px;
    text-align: center;
    width: 100%;
}

section {
    margin-top: 20px;
    width: 50%;
    background-color:  #9fffe2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-right: 10px;
}

input, select {
    margin-bottom: 10px;
    padding: 5px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
}

button {
    padding: 8px 20px;
    background-color:  #0a22fa;
    color: rgb(208, 255, 80);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

input[type="text"], input[type="number"] {
    width: 90%;
}

input[readonly] {
    background-color: #f4f4f4;
}
